 *{
    margin: 0%;
    padding: 0%;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
 }

 .container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(170deg, #000000, #088bf7);
    padding: 10px;
 }

 .To-DO{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10%;
 }

 .To-DO h2{
    color: #012969;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    
 }
 .To-DO h2 img{
    width: 30px;
    margin-left: 15px;
 }


 .row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
 }

 input{
    flex: 1;
    border:none;
    outline: none;
    background: transparent;
    padding: 10px;
 }

button{
    border:none;
    outline: none;
    padding: 16px 50px;
    background: #20c9e7;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    border-radius:50px;
}

ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: '';
    position: absolute;
    border-radius: 50%;
    height: 28px;
    width: 28px;
    background-image: url(img/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked{
    color: #cfcdcd;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(img/checked.png);

}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 20px;
    color: #cfcdcd;
    line-height: 40px;
    text-align: center;
}

ul li span:hover{
    background-color: #ececec ;
    border-radius: 50px;
}